
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap');


#map { height: 520px; }

p, h2{
    font-family: 'Quicksand', sans-serif;
}

.caption{
    font-style: italic;
    color: #555;
    font-size: smaller;
}

.reportText{
    text-align: left;
}

b{
    font-family: 'Quicksand';
    font-weight: 700; 
}
.legend {
    padding: 6px 8px;
    color: #555;
    background: white;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
.wrapper{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
}
/* .button, .modalButton{
    font-style: bold;
    border-radius: 5px;
    border-width: 1px;
    margin-bottom: 2%;
    margin-left: 5%; 
    margin-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.button:hover{
    cursor: pointer;
} */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    border-radius: 10px;
}
.modalContent {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%; /* Could be more or less, depending on screen size */
}


/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


/* CSS */
.button, .modalButton {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin: 2%
}

.button:hover, .modalButton:hover {
  background-color: #e6e9e9;
}

.button:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}